# MUSIC PREFERENCE PREDICTOR

In [28]:
#Import libraries

import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [19]:
data = pd.read_csv('music.csv')
data.head()

   age  gender   genre
0   20       1  Hiphop
1   23       1  Hiphop
2   25       1  Hiphop
3   26       1    Rock
4   29       1    Rock

In [20]:
data.tail()

    age  gender      genre
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [21]:
input_data = data.drop(['genre'], axis=1)
input_data.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [22]:
output_data =data['genre']
output_data.head()

0    Hiphop
1    Hiphop
2    Hiphop
3      Rock
4      Rock
Name: genre, dtype: object

In [23]:
model=DecisionTreeClassifier()
model.fit(input_data,output_data)

DecisionTreeClassifier()

In [29]:
predictions = model.predict([[22,1]])
predictions

array(['Hiphop'], dtype=object)

In [33]:
#checking accuracy
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data, test_size=0.2)

model.fit(x_train, y_train)
predictions = model.predict(x_test)
score = accuracy_score(y_test, predictions)
score

1.0